<div class="col-lg-12">
        <div class="text-justify">
        <a name="historia"></a>
          <h2><span class="highlight">Historia</span></h2>         
          <p>RUNOPPA 2.0 es un software que permitirá mejorar los procesos de registro y
las estadı́sticas del Ministerio de Agricultura Productiva y Tierras. La intención
del registro es que el proceso sea sencillo y amigable para los productores
del paı́s. Debido a esto la nueva versión del sistema se conceptualiza como
un autoregistro que permita a los productores poder certificarse en cualquier
momento de manera rápida.
El autoregistro consta de dos fases; una de carga de información y otra de
validación por medio de un baremo que indicará quien certifica como productor,
en este último paso aquellos que no certifiquen como productores mediante el
baremo, serán inspeccionados para validar la información y de cumplir con las
condiciones, serán certificados.
Además de esto, el proceso de autoregistro se fortalecerá con procesos de
auditorías para aquellos productores que se encuentre certificados, mediante la
toma de muestras estadisticamente significativas que permita darle fiabilidad
respecto a la calidad de la información que ofrecerá.</p>
        </div>
 <div class="text-justify">
        <a name="objetivos"></a>
          <h2><span class="highlight">Objetivooooos</span></h2>         
          <p>RUNOPPA 2.0 es un software que permitirá mejorar los procesos de registro y
las estadı́sticas del Ministerio de Agricultura Productiva y Tierras. La intención
del registro es que el proceso sea sencillo y amigable para los productores
del paı́s. Debido a esto la nueva versión del sistema se conceptualiza como
un autoregistro que permita a los productores poder certificarse en cualquier
momento de manera rápida.
El autoregistro consta de dos fases; una de carga de información y otra de
validación por medio de un baremo que indicará quien certifica como productor,
en este último paso aquellos que no certifiquen como productores mediante el
baremo, serán inspeccionados para validar la información y de cumplir con las
condiciones, serán certificados.
Además de esto, el proceso de autoregistro se fortalecerá con procesos de
auditorías para aquellos productores que se encuentre certificados, mediante la
toma de muestras estadisticamente significativas que permita darle fiabilidad
respecto a la calidad de la información que ofrecerá.</p>
        </div>        
      </div>    

    