
/*!
 *   AdminLTE v2.3.8
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <http://almsaeedstudio.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
 * Core: General Layout Style
 * -------------------------
 */

/*@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/[set]_foundicons.woff') format('woff'),
       url('fonts/[set]_foundicons.ttf') format('truetype'),
       url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="foundicon-remove"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}*/

.mydelete-icon {
  
        background-image: url("../img/remove.png"); /* Change url to wanted image */
        background-size: cover;
        border: none;
        width: 62px;
        height:62px;
        cursor: pointer;
        color: transparent;
        }
.rowselected {
    background-color: #eee;
}        

.wrapper{
	width: 960px;
	margin: 0 auto;
}
.pagination{
	margin: 0 auto;
}
.pagination ul li{
	float: left;
	padding: 10px;
	list-style: none;
	width: auto;
	margin: 0 auto;
}
.paginacion{
	width: 1500px;
	margin: 0 auto;
}
.pagination a, .current, .previous_page, .next_page
{
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  color: #111;
}
 
.pagination *:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination *:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.active a{
	color: red;
}
.articulo{
	background: #c40909;
	color: #fff;
	border: 4px solid gray;
	width: 500px;
	text-align: center;
}        